<div class="col-md-4" id="cardFix">

        <!-- Categories Widget -->
        <div id="topic-card" class="card my-4" style = "border-style: none; background-color: #fbf9ff">
          <h5 class="card-header">Topics</h5>
          <div class="card-body">
           
              <ul class="list-group list-group-flush">
                <li class="list-group-item", style= "text-decoration: none; font-size:27px; font-weight: 1000; ">
           <% @side_bar_topics.each do |topic| %>
      <p ><%= link_to topic.title, topic_path(topic) , style: "text-decoration: none;" %></p>
    <% end %></li>
             </ul> 
           
          </div>
        </div>


              <div id="source">
 
  <%= source_helper("alert alert-info blog-sidebar-source ")%>

</div>

        <!-- Side Widget -->
        <div class="card my-4" id = "card1">
  <div class="image-crop">
    <img id="avatar" src="/assets/profile.jpg"></img>
  </div>
  <div class="card-body" id="bio">
    <p>Hello, my name is Mahak! I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques are important to me and the success of your organization. <a href="/aboutme">know me more</a></p>
  </div>
  

</div>



       

      </div>






   