

   <!-- Blog Entries Column -->
    
      <div class="col-md-8">
        <%= paginate @blogs %>
        <%= render @blogs %>
        <!-- start of pager -->
    <!-- Pager -->
    <%= paginate @blogs %>
      
      </div>
      

  

        
        

        
        

       

      

   












