
<div style= "margin-bottom: 30px">
<div class="comment-card" >
  <div class="card" style="border-style: none;">
    <div class = "card-block" >
      <div class ="row">
        <div class="col-md-2">
           <%= gravatar_helper comment.user %>
        </div>
       
<div class="col-md-10">
          <div>
            <%= comment.content %>
          </div>

          <div class="comment-attribution">
            Comment posted by <span class="comment-name"><%= comment.user.first_name %></span> on <%= comment.created_at.strftime( " %B %e, %Y ")  %> 
          </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
