
<div class="col-md-8">



  <h3 class = "shadow" style = "text-transform: uppercase;text-align: center"> <%= @topic.title %> </h3>

  
    <%= paginate @blogs%>
        <%= render @blogs %>
       
    <%= paginate @blogs %>
 



      
      </div>