<div class = "container portfolio-container">
 


        <ul class="meals-showcase clearfix <%= "sortable" if logged_in?(:site_admin) %>" >
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </ul>

</div>



















