
<!-- <div>





<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
         <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
    <h3>Address</h3>

    <p>30 Island View Place, Dorchester, MA,02125</p>

    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>

    <h3>Phone</h3>

    <p><%= number_to_phone "8574723684" %></p>

    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>

  <h3>Email</h3>

    <p><a href="mailto:singh.maha@husky.neu.edu?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.0594071631936!2d-71.04506988454796!3d42.319931645627335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37afa3d617ae1%3A0x3e98b33cb0071536!2s30%20Island%20View%20Pl%2C%20Boston%2C%20MA%2002125!5e0!3m2!1sen!2sus!4v1581704866094!5m2!1sen!2sus" width="450" height="550" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
</div> -->





<div class="container">
  <div class="front side">
    <div class="content">

     <h1>Would you like to work together?</h1>

    
                 <a href="#" class="photo" style="margin-top: 300px" >
                  <img src="/assets/profile.jpg">
    
    <div class="glow-wrap">
    <i class="glow"></i>
 
  </div>
</a>

    </div>
  </div>
  <div class="back side">
    <div class="content">
      <h1>Contact Me</h1>
            <div class="col-md-12">
         <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
    <h3>Address</h3>

    <p>30 Island View Place, Dorchester, MA,02125</p>

    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>

    <h3>Phone</h3>

    <p><%= number_to_phone "8574723684" %></p>

    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>

  <h3>Email</h3>

    <p><a href="mailto:singh.maha@husky.neu.edu?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>
      
    </div>
  </div>

</div>






  

       
 
           