



<hr>

<div class="row">
  <div class="col-md-12">

    <div class="inner cover">

        <h1 class="cover-heading" style="font-family: monospace;">Hello, I'm <span style="color:#D6133A">Mahak Singh</span>.</h1>
         <h1 style = "font-family: monospace;">I'm a
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "full-stack developer.", "software developer.", "web designer.", "web developer.", "front-end engineer.","backend developer." ]'></span>
</h1>
        <p class="lead">
          <a href="portfolios" class="but" style="vertical-align:middle"><span>Portfolio </span></a>
        </p>
      </div>


  </div>

  
</div>


  

       
 
           