<li class="page-item">
  <%= link_to_unless current_page.first?, raw(t 'views.pagination.first'), url, remote: remote, class: 'page-link',style: 'color:white;  background-color: #444B6E;hover:opacity:0.6' %>
</li>
