<li class="page-item">
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url, remote: remote, class: 'page-link',style: 'background-color: #444B6E;color:white;hover:opacity:0.6%' %>
</li>
