@import "bootstrap";
@import "font-awesome";
@import "animate";
@import "gritter";



.webservices{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

header {
  background-color: #34262B;
  background:  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:60vh;
  
}

.more-space {
  margin-bottom: 20%;
}

header h1 {
  color: #34262B;
  font-size: 150px;
}

h1 {
  font-family: "Amatic SC", sans-serif;
}

.break1, .break2, .contact h2, .contact h3, p, header h4 {
  font-family: "Coming Soon", sans-serif;
}

.social-media {
  margin-top: 7%;
}

.intro {
  margin-top: 12%;
}

header h4 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.red {
  color: #c1292e;
  font-weight: bold;
}
/**Navbar customs**/


/**Navbar customs end**/
/***Services***/

.works {
background-color: #34262B;
  background:  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.tabs {
  background-color: #F26430;
  border: 1px solid #210A20;
}

.works p {
  margin-top: 10%;
}

.works h1 {
  font-size: 100px;
  margin-top: 7%;
  margin-bottom: 5%;
}

.thumbnail {
  margin-bottom: 12%
}

.thumbnail:hover {
  -webkit-box-shadow: 2px 2px 2px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 2px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 2px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.space {
  margin-bottom: 10%;
}


.break1 {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:20vh;
}

.break2 {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:50%;
}

.break2 p {
  padding:30px;
  font-size:50px;
 
}

.break1 h3 {
  color: #fff;
  margin-top: 4%;
 font-weight: bolder;
}

/**End of Services stylus***/
/***About us****/

.about-us {
  background-color: white;
}

.about-us h1 {
  color: #C1292E;
  font-size: 100px;
  margin-top: 7%;
}

.about-us-p {
  font-size: 20px;
  color: #FDFFFC;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 7%;
 
}

.descript {
  margin-bottom: 15%;
}

.team {
 
  border: 1px solid #FDFFFC;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  color: #F9F2F6;
}

.team:hover {
  text-decoration: none;
  background: rgba(193, 41, 46, 0.4);
  color: #F9F2F6;
}
/* Contact */

.contact {
  background-color: #c1292e;
}

.contact h1 {
  font-size: 100px;
  margin-top: 7%;
}

.social-media-row-1 {
  margin-top: 10%;
}

.contact i {
  font-size: 1000%;
  padding: 20% 0% 20% 0%;
}

.contact .icon {
  border: 1px solid black;
}

.icon a {
  color: #fff;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Footer */

footer {
background-color: white;
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}



@media screen and (max-width: 500px) {
  header h1, .about-us h1, .works h1, .contact h1 {
    font-size: 50px;
    margin-bottom: 15%;
  }
    
  header h4 {
    font-size: 20px;
    margin-bottom: 15%;
  }
  .break2 p {
    font-size: 5px;
    
   
   
  }
  
  .about-us-p {
    font-size: 14px;
  }
  
  .contact i {
    font-size: 500%;
  }
  
  .intro {
  margin-top: 50%;
  }
}

 .skills{
 position:relative;
 width:100%;
 }
 .skills h2{
 color:black;
 }

 .skill {
 position:relative;
 display:flex;
  margin: 10px 0;
  padding:10px 5px 7px;
 background: linear-gradient(#616161 0%, white 10%, white);
 border-radius:8px;
 overflow:hidden;
 border: 2px solid #000;
 transition:0.5s;
}

.skill:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:50%;
  background:rgba(255,255,255,.1);
  z-index:10;
}

.skill .name{
  position:relative;
  width:140px;
  text-align:right;
  font-weight:900;
  color:black;
  margin-top:-2x;
  font-family: "Monoton";
  text-transform:uppercase;
}


.skill .percent{
  position:relative;
  width: calc(100% - 150px);
  height:20px;
  margin:0 10px;
  border-radius:10px;
  background:#151515;
  box-shadow: inset 0 0 10px #000;
  overflow:hidden;
}
.progress{
  position:absolute;
  top:0;
  left:0;
  width:70%;
  height:100%;
  border-radius:10px;
  background:#f4c2c2;
  box-shadow: inset 0 0 2px #000;
  animation: animate 5s ease-in-out forwards;
}

@keyframes animate{
  from{
  width:0;
  }
}

.skill .value{
   position:relative;
  width:40px;
  text-align:left;
  color:black;
  margin-top:-2x;
  text-transform:uppercase;
  font-family: "Monoton";
}







.main-timeline9{position:relative}
.main-timeline9:after,.main-timeline9:before{content:"";display:block;width:100%;clear:both}
.main-timeline9:before{content:"";width:3px;height:100%;background:#302124;position:absolute;top:0;left:50%}
.main-timeline9 .timeline{width:50%;float:left;position:relative;z-index:1}
.main-timeline9 .timeline:after,.main-timeline9 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline9 .timeline:first-child:before,.main-timeline9 .timeline:last-child:before{content:"";width:25px;height:25px;border-radius:50%;background:#fff;border:4px solid #f4c2c2;position:absolute;top:0;right:-14px;z-index:1}
.main-timeline9 .timeline:last-child:before{top:auto;bottom:0}
.main-timeline9 .timeline:last-child:nth-child(even):before{right:auto;left:-12px;bottom:-2px}
.main-timeline9 .timeline-content{text-align:center;margin-top:8px;position:relative;transition:all .3s ease 0s}
.main-timeline9 .timeline-content:before{content:"";width:100%;height:5px;background:#f4c2c2;position:absolute;top:88px;left:0;z-index:-1}
.main-timeline9 .circle{width:180px;height:180px;border-radius:50%;background:#fff;border:8px solid #f4c2c2;float:left;margin-right:25px;position:relative}
.main-timeline9 .circle span:after,.main-timeline9 .circle span:before,.main-timeline9 .circle:before{content:"";margin:auto;position:absolute;right:-33px;bottom:0;z-index:-1}
.main-timeline9 .circle:before{width:26px;height:30px;background:#f4c2c2;top:0;box-shadow:inset 7px 0 9px -7px #f4c2c2}
.main-timeline9 .circle span{display:block;width:100%;height:100%;border-radius:50%;line-height:160px;border:3px solid #f4c2c2;font-size:80px;color:#f4c2c2}
.main-timeline9 .circle span:after,.main-timeline9 .circle span:before{width:28px;height:50px;background:#fff;border-radius:0 0 0 21px;top:-54px}
.main-timeline9 .circle span:after{border-radius:21px 0 0;top:0;bottom:-56px}
.main-timeline9 .content{display:table;padding-right:40px;position:relative}
.main-timeline9 .year{display:block;padding:10px;margin:10px 0 50px;background:#f4c2c2;border-radius:7px;font-size:25px;color:#fff}
.main-timeline9 .title{font-size:25px;font-weight:700;color:#f4c2c2;margin-top:0}
.main-timeline9 .icon span:after,.main-timeline9 .icon span:before,.main-timeline9 .icon:before{content:"";height:25px;margin:auto;position:absolute;bottom:0;z-index:-1;left:-15px}
.main-timeline9 .description{font-size:14px;color:#a6a6a6;text-align:justify}
.main-timeline9 .icon{width:25px;height:25px;border-radius:50%;background:#fff;border:4px solid #f4c2c2;position:absolute;top:78px;right:-14px}
.main-timeline9 .icon:before{width:15px;background:#f4c2c2;top:-1px}
.main-timeline9 .icon span:after,.main-timeline9 .icon span:before{width:21px;background:#fff;border-radius:0 0 21px;top:-30px}
.main-timeline9 .icon span:after{border-radius:0 21px 0 0;top:0;left:-15px;bottom:-30px}
.main-timeline9 .timeline:nth-child(2n) .circle,.main-timeline9 .timeline:nth-child(2n) .timeline-content{float:right}
.main-timeline9 .timeline:nth-child(2n) .circle{margin:0 0 0 25px}
.main-timeline9 .timeline:nth-child(2n) .circle:before{right:auto;left:-33px;box-shadow:-7px 0 9px -7px #444 inset}
.main-timeline9 .timeline:nth-child(2n) .circle span:after,.main-timeline9 .timeline:nth-child(2n) .circle span:before{right:auto;left:-33px;border-radius:0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .circle span:after{border-radius:0 21px 0 0}
.main-timeline9 .timeline:nth-child(2n) .content{padding:0 0 0 40px;margin-left:2px}
.main-timeline9 .timeline:nth-child(2n) .icon{right:auto;left:-14px}
.main-timeline9 .timeline:nth-child(2n) .icon span:after,.main-timeline9 .timeline:nth-child(2n) .icon span:before,.main-timeline9 .timeline:nth-child(2n) .icon:before{left:auto;right:-15px}
.main-timeline9 .timeline:nth-child(2n) .icon span:before{border-radius:0 0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .icon span:after{border-radius:21px 0 0}
.main-timeline9 .timeline:nth-child(2){margin-top:180px}
.main-timeline9 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline9 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline9 .timeline:first-child,.main-timeline9 .timeline:last-child:nth-child(even){margin:0}
@media only screen and (max-width:990px){.main-timeline9:before{left:100%}
.main-timeline9 .timeline{width:100%;float:none;margin-bottom:20px!important}
.main-timeline9 .timeline:first-child:before,.main-timeline9 .timeline:last-child:before{left:auto!important;right:-13px!important}
.main-timeline9 .timeline:nth-child(2n) .circle{float:left;margin:0 25px 0 0}
.main-timeline9 .timeline:nth-child(2n) .circle:before{right:-33px;left:auto;box-shadow:7px 0 9px -7px #444 inset}
.main-timeline9 .timeline:nth-child(2n) .circle span:after,.main-timeline9 .timeline:nth-child(2n) .circle span:before{right:-33px;left:auto;border-radius:0 0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .circle span:after{border-radius:21px 0 0}
.main-timeline9 .timeline:nth-child(2n) .content{padding:0 40px 0 0;margin-left:0}
.main-timeline9 .timeline:nth-child(2n) .icon{right:-14px;left:auto}
.main-timeline9 .timeline:nth-child(2n) .icon span:after,.main-timeline9 .timeline:nth-child(2n) .icon span:before,.main-timeline9 .timeline:nth-child(2n) .icon:before{left:-15px;right:auto}
.main-timeline9 .timeline:nth-child(2n) .icon span:before{border-radius:0 0 21px}
.main-timeline9 .timeline:nth-child(2n) .icon span:after{border-radius:0 21px 0 0}
.main-timeline9 .timeline:nth-child(2),.main-timeline9 .timeline:nth-child(even),.main-timeline9 .timeline:nth-child(odd){margin:0}
}
@media only screen and (max-width:480px){.main-timeline9:before{left:0}
.main-timeline9 .timeline:first-child:before,.main-timeline9 .timeline:last-child:before{left:-12px!important;right:auto!important}
.main-timeline9 .circle,.main-timeline9 .timeline:nth-child(2n) .circle{width:130px;height:130px;float:none;margin:0 auto}
.main-timeline9 .timeline-content:before{width:99.5%;top:68px;left:.5%}
.main-timeline9 .circle span{line-height:115px;font-size:60px}
.main-timeline9 .circle span:after,.main-timeline9 .circle span:before,.main-timeline9 .circle:before,.main-timeline9 .icon{display:none}
.main-timeline9 .content,.main-timeline9 .timeline:nth-child(2n) .content{padding:0 10px}
.main-timeline9 .year{margin-bottom:15px}
.main-timeline9 .description{text-align:center}
}





.img {

  border:2px solid #fff;
  background-color: #34262B;
 background: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-box-shadow: inset 10px 10px 50px #fff;
  -webkit-box-shadow: inset 10px 10px 50px #fff;
  box-shadow: inset 10px 10px 50px #fff;
}




@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.resume {
  color: hsla(0, 0%, 0%, .2);
  font: normal auto Varela Round, sans-serif;
  height: auto;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
 
 
  width: auto;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 0%, 100%, 1), 
      3px -3px 0 hsla(0, 0%, 100%, 1), 
      2px -2px 0 hsla(0, 0%, 100%, 1), 
      1px -1px 0 hsla(0, 0%, 100%, 1),
      -4px 4px 0 hsla(0, 0%, 100%, 1), 
      -3px 3px 0 hsla(0, 0%, 100%, 1), 
      -2px 2px 0 hsla(0, 0%, 100%, 1),  
      -1px 1px 0 hsla(0, 0%, 100%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(0, 0%, 100%, 1),  
      -3px -3px 0 hsla(0, 0%, 100%, 1),  
      -2px -2px 0 hsla(0, 0%, 100%, 1), 
      -1px -1px 0 hsla(0, 0%, 100%, 1), 
      4px 4px 0 hsla(0, 0%, 100%, 1), 
      3px 3px 0 hsla(0, 0%, 100%, 1), 
      2px 2px 0 hsla(0, 0%, 100%, 1), 
      1px 1px 0 hsla(0, 0%, 100%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 0%, 100%, 1), 
      -3px 3px 0 hsla(0, 0%, 100%, 1), 
      -2px 2px 0 hsla(0, 0%, 100%, 1), 
      -1px 1px 0 hsla(0, 0%, 100%, 1),
      4px -4px 0 hsla(0, 0%, 100%, 1), 
      3px -3px 0 hsla(0, 0%, 100%, 1), 
      2px -2px 0 hsla(0, 0%, 100%, 1), 
      1px -1px 0 hsla(0, 0%, 100%, 1),
    ;
  }
  75% {
    text-shadow:
    4px 4px 0 hsla(0, 0%, 100%, 1), 
    3px 3px 0 hsla(0, 0%, 100%, 1), 
    2px 2px 0 hsla(0, 0%, 100%, 1), 
    1px 1px 0 hsla(0, 0%, 100%, 1) 
      -4px -4px 0 hsla(0, 0%, 100%, 1), 
      -3px -3px 0 hsla(0, 0%, 100%, 1), 
      -2px -2px 0 hsla(0, 0%, 100%, 1), 
      -1px -1px 0 hsla(0, 0%, 100%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 0%, 100%, 1), 
      3px -3px 0 hsla(0, 0%, 100%, 1), 
      2px -2px 0 hsla(0, 0%, 100%, 1), 
      1px -1px 0 hsla(0, 0%, 100%, 1),
      -4px 4px 0 hsla(0, 0%, 100%, 1), 
      -3px 3px 0 hsla(0, 0%, 100%, 1), 
      -2px 2px 0 hsla(0, 0%, 100%, 1), 
      -1px 1px 0 hsla(0, 0%, 100%, 1),
    ;
  }  
}

#about_me p{ color: #ee959e; font-family: 'Trocchi', serif; font-size: 25px; font-weight: normal; line-height: 48px; margin: 0; }

.break2 p{ color: white; font-family: 'Trocchi', serif; font-size: 30px; font-weight: normal;}

.text-center{
  text-align: center;
}

.text-red{
  color: red;
}

.text-blue{
  color: blue;
}

.text-green{
  color: green;
}

.text-orange{
  color: RGBA(31,146,255,0.56);
}
.text-white{
  color: white;
}

.text-big{
  font-size: 64px;
}

.text-tiny{
  font-size: 10px;
}

.text-bold{
  font-weight: bold;
}

.text-font{
  font-size: 24px;
  font-family: "Monoton";
}

.styledFont{
  color: green;
}

#styledImage{
  border: 10px solid #aa0000;
}


.nav-link{
  font-family: "Monoton";
  color: black;

  font-size:25px;
  font-style:bold;
}

.nav-link:hover{
 color:black;
  

}

.navbar-light .navbar-nav .nav-link {
    color: #4A0813;
}








a{
  color: #111
}

.photo{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.photo img{
  width: 80%;
  height: 80%;
  object-fit: cover;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 20%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}

.photo .heading{
  position: absolute;
  z-index: 1;
  transform: translate(-25%, -65%);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1.2;
}


/* Ends */

#author{
  font-family: Helvetica, Arial;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
}

#author:hover{
  color: #111;
}
