@import "bootstrap";
@import "font-awesome";
@import "gritter";








/* ----- LINKS ----- */



/* ----- BUTTONS ----- */
.btn,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

#portSection {
    
    background-size: cover;
    background-position: center;
   
    background-attachment: fixed;
}








footer {
background-color:black;
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}



/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */


/*Custom Styles*/

.btnUpload
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    height:50px;
    text-align:center;
    width: 100%;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #cf6d17, #8811c5);
    color: #fff;
}
.btnUpload:hover {
    background: -webkit-linear-gradient(left, #cf6d17, #8811c5);
    opacity: 0.6;
  }
  .btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    height:50px;
    text-align:center;
    width: 100%;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #cf6d17, #8811c5);
    color: #fff;
    float:center;
}
.btnSubmit:hover {
    background: -webkit-linear-gradient(left, #cf6d17, #8811c5);
    opacity: 0.6;
  }

  #techForm{
  padding-bottom:10px;
  }

 


#show_portfolio h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }


#show_portfolio h2 { color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px; }


#show_portfolio h3 { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 24px; }


#show_portfolio p { color: #4c4a37; font-family: "Monoton";font-size: 20px; line-height: 32px; margin: 0 0 24px; }


#show_portfolio a { color: #ff9900; background: #fff4a3; text-decoration: none; }


#show_portfolio a:hover { color: #ffcc66 }

.listing{
   list-style-type: square;
   font-size:20px;
   font-family: "Monoton"; 
}



.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}








@import url('https://fonts.googleapis.com/css?family=Sarala:700|Exo+2:300');

// *,
// *:before,
// *:after{
//   box-sizing: border-box;
//   -webkit-tap-highlight-color: rgba(255,255,255,0);
//   outline: 1px solid transparent;
// }



.wrapper{
  width: 400px;
  height: 480px;
  perspective: 600px;
  position: relative;
}

.card2{
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
}

.card2 > div{
  position: absolute;
  width: 400px;
  height: 400px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.front{
  background-image: linear-gradient(180deg, rgba(70,130,180,1) 0%, rgba(92,91,94,0) 100%);
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 34px 3px 0 0;
}

.right{ 
  background-image: linear-gradient(0deg, rgba(70,130,180,1) 0%, rgba(92,91,94,0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.card2:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card2:hover .front{
  opacity: 0; 
}

.card2:hover .right{
  opacity: 1; 
}

.heading{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-60px);
  font-family: 'Sarala'; 
  font-weight: 700;
}

h2{
  font-size: 21px;
  transform: translateX(-34px);
}

.para{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-44px);
  font-family: 'Sarala'; 
  font-weight: 700;
}

span{
  margin-left: 13px;
  opacity: .55;
}

.img{
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  transform: translateX(5%) rotateZ(8deg) skewX(1deg);
  pointer-events: none;
}

.img-wrapper{
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  margin-top:40px;
  top: 0; right: 0;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(10px);
  }
  100%{
    transform: translateY(-15px) translateX(-8px) translateZ(30px);
  }
}

.card2:hover ~ .img-wrapper img{
  transform: scale(0) translateX(77%) translateY(60%) rotateZ(80deg);
}

ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

li{
  padding-bottom: 8px;
  position: relative;
}

li:before{
  
  position: absolute;
  left: -21px;
  opacity: .55;
}

button{
  position: absolute;
  right: 21px; 
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 15px;  
  letter-spacing: -.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117,51,165,1)  50%, rgba(51,46,57,.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34,34,34,.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: right bottom;
}

.card2:hover button{
   transform: scale(1) skewY(0);
}

.card2:not(:hover) button{
opacity: 0;
}

button:hover{
  background-position: left;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 10px;
  font-size: 24px;
  opacity: .67;
}


.price_tech{
  margin-top:10px;
  left: 21px;
  font-size: 20px;
  opacity: .67;
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}
.nav-link{
  font-family: "Monoton";
   color: black;
 margin-right:20px;
   font-size:25px;
   font-style:bold;
  
 }
 
@media screen and (max-width: 767px) {
  .price{
    left: 40px;  
  }

  .heading{
    transform: translateX(-30px);
  }
  
  .nav-link{
    font-family: "Monoton";
     color: black;
     margin-left: 0px;
   margin-right:0px;
     font-size:10px;
     font-style:bold;
   }

  
   .navbar-brand{
     display:none;
   }
  .wrapper{
    width: 350px;
    height: 480px;
    perspective: 600px;
    position: relative;
  }
  
  .card2{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-140px);
    transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    cursor: pointer;
  }
  
  .card2 > div{
    position: absolute;
    width: 350px;
    height: 400px;
    padding: 34px 21px;
    transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  }
}
.navbar-brand{
  margin-left: 80px;
 margin-right: 30%;
}












